/*
 * Copyright (C) 2014 Neal Jackson, LAB11
 *
 * Cape for LAB11 cc2520 radio, utilizing gpio pins P8.15, P8.12, P8.11,
 * P9.15, P9.12, P8.17, P8.18, P8.16, and the spi0 device.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/dts-v1/;
/plugin/;
 
/ {
   	compatible = "ti,beaglebone", "ti,beaglebone-black";
 
        /* identification */
        part-number = "BB-BONE-CC2520";
        version = "00A0";
 
        /* state the resources this cape uses */
        exclusive-use =
                /* the pin header uses */

                /* GPIO */
                "P8.15",       /* SFD: gpio1_15 */
                "P8.12",       /* FIFP: gpio1_12 */
                "P8.11",       /* FIFO: gpio1_13 */
                "P9.15",       /* RST: gpio1_16 */
                "P9.12",       /* CCA: gpio1_28 */
                "P8.17",	   /* DEBUG0: gpio0_27 */
                "P8.18",	   /* DEBUG1: gpio2_1 */
                "P8.16",       /* DEBUG2: gpio1_14 */

                /* SPI */
                "P9.17",       /* CS0: spi0_cs0 */
                "P9.18",       /* MISO: spi0_d1 */
                "P9.21",       /* MOSI: spi0_d0 */
                "P9.22",       /* SCLK: spi0_sclk */

                /* the hardware ip uses */

                "gpio1_15",
                "gpio1_12",
                "gpio1_13",
                "gpio1_16",
                "gpio1_28",
                "gpio0_27",
                "gpio2_1",
                "gpio1_14",
                "spi0";
 
        fragment@0 {
                target = <&am33xx_pinmux>;
                __overlay__ {
                        bb_cc2520_spi0_pins: pinmux_bb_2520_spi0_pins {
                                pinctrl-single,pins = <
                                        0x15c 0x10 /* spi0_cs0.spi0_cs0, OUTPUT_PULLUP | MODE0 */
                                        0x158 0x10 /* spi0_d1.spi0_d1, OUTPUT_PULLUP | MODE0 */
                                        0x154 0x30 /* spio0_d0.spi0_d0, INPUT_PULLUP | MODE0 */
                                        0x150 0x30 /* spi0_sclk.spi0_sclk, INPUT_PULLUP | MODE0 */
                                >;
                        };
                        bb_cc2520_gpio_pins: pinmux_bb_2520_gpio_pins {
                        		pinctrl-single,pins = <
                                        0x03c 0x2F /* gpio1_15.gpio1_15, INPUT | MODE7 */
                                        0x030 0x2F /* gpio1_12.gpio1_12, INPUT | MODE7 */
                                        0x034 0x2F /* gpio1_13.gpio1_13, INPUT | MODE7 */
                                        0x040 0x17 /* gpio1_16.gpio1_16, OUTPUT_PULLUP | MODE7 */
                                        0x078 0x2F /* gpio1_28.gpio1_28, INPUT | MODE7 */                                        
                                        0x02c 0x17 /* gpio0_27.gpio0_27, OUTPUT_PULLUP | MODE7 */
                                        0x08c 0x17 /* gpio2_1.gpio2_1, OUTPUT_PULLUP | MODE7 */
                                        0x38 0x17 /* gpio1_14.gpio1_14, OUTPUT_PULLUP | MODE7 */
                                >;
                        };
                };
        };
 
		fragment@1 {
                target = <&spi0>;	/* spi0 is numbered correctly */
                __overlay__ {
                		#address-cells = <1>;
                		#size-cells = <0>;

                        status = "okay";
                        pinctrl-names = "default";
                        pinctrl-0 = <&bb_cc2520_spi0_pins>;

                        channel@0 {
                        	#address-cells = <1>;
                        	#size-cells = <0>;

                        	compatible = "linux,spidev";

                        	reg = <0>;
                        	spi-max-frequency = <16000000>;
                        	spi-cpha;
                        };
                };
        };

        fragment@2 {
        		target = <&ocp>;
        		__overlay__ {
        				
        				gpio-cape-cc2520 {
        					compatible = "bone-pinmux-helper";
                            pinctrl-names = "default";
        					pinctrl-0 = <&bb_cc2520_gpio_pins>;
                            status = "okay";
        				};
        		};
        };
};
